[user]
  name = Denis Ciccale
  email = dciccale@gmail.com

[core]
  excludesfile = /Users/Denis/.gitignore
  editor = mvim -f

[color]
  ui = always

[merge]
  tool = mvim -d

[color "status"]
  added = green
  changed = yellow
  untracked = cyan

[alias]
  dc30 = !git config user.name dc30 && git config user.email dciccale@aurigae.com
  # log git history tree graph
  l = log --graph --decorate
  # log edited files per commit
  ll = log --pretty=format:'%C(yellow)%h%C(red)%d %C(reset)%s%C(blue) [%cn]' --decorate --numstat
  # log (hash, relative date, commit, commiter)
  ld = log --pretty=format:'%C(yellow)%h %C(bold red)%ad%C(reset)%C(red)%d %C(reset)%s%C(blue) [%cn]' --decorate --date=relative
  dif = diff --word-diff
  # find a file path
  f = !git ls-files | grep -i
  # search/grep the entire codebase for a string
  grep = grep -Ii
  s = status -sb
  co = commit
  coam = commit --amend
  # commit with message
  cm = commit -m
  cam = commit -am
  caam = !git add . && git commit -am
  unc = reset --soft HEAD^
  cp = cherry-pick
  ch = checkout
  # checkout files
  chf = checkout --
  # for github pages
  chp = checkout gh-pages
  chm = checkout master
  chd = checkout develop
  br = branch
  brd = branch -D
  ph = push origin
  pl = pull origin
  mnoff = merge --no-ff
  unstage = reset HEAD
  sh = stash
  shl = stash list
  unsh = stash pop
  rv = remote -v
  ra = remote add
  # quick ignore
  ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore
  # get list of committers without including merge commits
  committers = shortlog -nse --no-merges
  # add all files and untrack removed files
  addrm = !git add -A && git ls-files --deleted -z | xargs -0 git rm

  # project specific
  # git bug <number>
  bug = !sh -c 'git checkout -b bug/$0'
  chb = !sh -c 'git checkout bug/$0'
  # git feature <number>
  feature = !sh -c 'git checkout -b feature/$0'
  chf = !sh -c 'git checkout feature/$0'
  # git task <number>
  task = !sh -c 'git checkout -b task/$0'
  cht = !sh -c 'git checkout task/$0'
  goto = !git stash --quiet && git checkout $1 | printf '\n\n'$(tput setaf 4) && printf '\n\n' $(tput sgr0)

# url shortcuts
[url "http://github.com/"]
  insteadOf = "gh:"

[url "git@github.com:"]
  insteadOf = "https://github.com/"
  insteadOf = "http://github.com/"
  insteadOf = "gh:"

[url "git@github.com:dciccale/"]
  insteadOf = "gd:"

[url "http://github.com/dciccale/"]
  insteadOf = "gd:"

[url "git@pdihub.hi.inet:"]
  insteadOf = "pdi:"

[url "git@pdihub.hi.inet:dc30/"]
  insteadOf = "dc30:"

[push]
  default = current

[pull]
  default = current
