snippet log
	console.log

# get elements by tagname
snippet gettag
	getElementsByTagName('${1}')${2}

# get element by id
snippet getid
	getElementById('${1}')${2}

# get elements by class
snippet getclass
	getElementsByClassName('${1}')${2}

# self invoking anonymous function
snippet siaf
	(function () {
	  ${1}
	}())
